
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color:transparent;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:red;
    text-decoration: none;
  }
  .cta{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: transparent;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: red;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
  }
  
  .cta:hover {
    background-color:white;
    color: red;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: black;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: transparent;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  .row{
    display: flex;
    background-color: gray;
    padding: 10px;
  }
  .side{
    flex:50%;
    background-color: black;
    padding: 20px;
  }
  .main{
    flex: 50%;
    background-color: black;
    padding: 20px;
  }
  
  .image{
    padding-left: 100px;
    display: flex;
  }
  .Question{
    background-color: black;
    padding: 20px;
  }
  .ans{
    background-color: gray;
    padding: 10px;
  }
  .accordion {
    background-color: grey;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color:grey;
    display: none;
    overflow: hidden;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  body{
    margin:0;
    padding: 0;
  }
  .form-area{
    position:absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:400px;
    height: 500px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    padding: 100px;
    outline: none;
  }
  h3{
    margin:0;
    padding: 0,0,20px;
    font-weight: bold;
  }
  .form-area input[type=text],
  .form-area input[type=text]{
    border:none;
    border-bottom: 1px solid #ffffff;
     background-color: transparent;
     outline: none;
     height: 40px;
     color:#ffffff
  }
  .footer{
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    color:grey;
  }
  .mail{
    display: flex;
    justify-content: center;
  }
  .input{
    flex:70%;
    padding-left: 500px;
    width: 50%;
    height: 50px;
  }
  .start{
    flex:30%;
    padding-right: 480px;
    width: 150px;
    height: 50px; 
  }

  .videoDiv{
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 63%;
    position: absolute;
    top: 41%;
    left: 35%;
    transform: translate(-50%,-50%);
  }
  .card-container{    
    margin: -10% -5% -5% 0;
  }
  .newimage{
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
    border: 0;
  }
  .videoDiv1{
    width: 100%;
    height: 100%;
    max-width: 55%;
    max-height: 48%;
    position: absolute;
    top: 39%;
    left: 35%;
    transform: translate(-50%,-50%);
  }
  .card-container1{    
    margin: -10% -5% -5% 0;
  }
  .newimage1{
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
    border: 0;
  }
  